@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/Roboto/Roboto-Thin.ttf');
    font-display: swap;
  }

  html {
    font-family: 'Roboto', sans-serif;
  }
}
